form{

    border: solid black 1px;
background-color: rgb(221, 221, 221);
    position: absolute;
   
    left: 0;
    
    margin-left: 25%;
    width: 900px;
 z-index: 2;
}


button{
    float: right;
}


@media screen and (max-width: 1078px) {
    form {
     width: 90%;
     height: 50%;
     margin-right: 5%;
     margin-left: 5%;
     }  
    }
