h3 {
    color: black;
    font-size: 17px;
}
#editText {
    color: white;
    background-color: rgb(0, 136, 170);
     }
    
     pre{
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 120%;
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: justify;
    }

